# Ignore Terraform state files
terraform.tfstate*
.terraform/

# Ignore documentation directory
docs/

# Ignore macOS directory index file
.DS_Store

# Ignore lambda function archives
modules/serverless/lambda_function.zip
modules/serverless/lambda_layer.zip

# Ignore Ruby and Bundler state
modules/serverless/lambda_layer/ruby/gems/.bundle/
modules/serverless/lambda_layer/ruby/gems/ruby/

