# Ignore Terraform state files
terraform.tfstate*
.terraform/

# Ignore documentation directory
docs/

# Ignore macOS directory index file
.DS_Store

# Ignore lambda function archive
modules/serverless/lambda_function.zip
